 .circle
 {
     width: 150px;
     height:170px;
  margin-left: 587px;
     margin-top: 15px;
 }
 .name {
     text-align: center;
     font-size: 30px;
     color: grey;
 }
.facebook{
    height: 30px;
    width: 30;
    margin-left: 610px;
}
.edge
{
    height: 30px;
    width: 30;
    margin-left: px;  
}
.twitter
{
    height:35px;
    width: 35px;
    margin-left: px;   
}
 body{
     margin: 10px;
      
 }
 .intro
 {
 column-fill: grey;
 }
 .abc{
height: 80px;
width: 100%;
background-color: skyblue; 
 }
  